[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/plugin/vim-rubocop"]
	path = .vim/plugin/vim-rubocop
	url = git@github.com:ngmy/vim-rubocop.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
  url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
  url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
  url = https://github.com/vim-airline/vim-airline
