[submodule ".vim/bundle/vim-misc"]
	path = base/.vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = base/.vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = base/.vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "base/.tmux/plugins/tpm"]
	path = base/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vimshell.vim"]
	path = base/.vim/bundle/vimshell.vim
	url = git@github.com:Shougo/vimshell.vim.git
[submodule ".vim/bundle/vimproc.vim"]
	path = base/.vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule ".vim/bundle/vim-obsession"]
	path = base/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/vim-repeat"]
	path = base/.vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-caser"]
	path = base/.vim/bundle/vim-caser
	url = git@github.com:arthurxavierx/vim-caser.git
[submodule ".vim/bundle/vim-snipmate"]
	path = base/.vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-snippets"]
	path = base/.vim/bundle/vim-snippets
	url = git@github.com:garbas/vim-snipmate.git
[submodule ".vim/bundle/Vundle.vim"]
	path = base/.vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "base/.tmux/plugins/tmux-continuum"]
	path = base/.tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "base/.tmux/plugins/tmux-resurrect"]
	path = base/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
