[user]
	name = 
	email = 
[diff]
	tool = vimdiff
[merge]
	tool = meld
[mergetool "diffmerge"]
	cmd = =
	trustExitCode = true
[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  upstream = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
	excludesfile = /Users/jgostelow/.gitignore_global
	warnambiguousrefs = false
	editor = /usr/bin/vim
[push]
	default = simple
[difftool "sourcetree"]
	cmd = /usr/local/Cellar/kdiff3/0.9.98/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/Cellar/kdiff3/0.9.98/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
